/* Button */

button {
    background: #f1f1f1;
    border: 1px solid #696969;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
    color: #252630;
}

button:hover {
    background: #292929;
    color: #fff;
}

#apply-button {
    background: #dc3545;
    border: none;
    color: #fff;
    padding: 5px;
}

/* Storage */

.memory,
.storage,
.delivery {
    margin: 50px 0;
}

.promo-code {
    margin: 20px 0;
}

#success {
    display: none;
}

#fail {
    display: none;
}

.border {
    width: 330px;
    background: #000;
    height: 4px;
}